/.DS_Store
venv/
fol_parser/tools/
fol_parser/ANTLR/FOL.interp      
fol_parser/ANTLR/FOL.tokens      
fol_parser/ANTLR/FOLLexer.interp 
fol_parser/ANTLR/FOLLexer.py     
fol_parser/ANTLR/FOLLexer.tokens 
fol_parser/ANTLR/FOLListener.py  
fol_parser/ANTLR/FOLParser.py
fol_parser/ANTLR/.antlr
fol_parser/ANTLR/__pycache__
fol_parser/__pycache__
dist/
test/