/.DS_Store
venv/
tools/
ANTLR/FOL.interp      
ANTLR/FOL.tokens      
ANTLR/FOLLexer.interp 
ANTLR/FOLLexer.py     
ANTLR/FOLLexer.tokens 
ANTLR/FOLListener.py  
ANTLR/FOLParser.py
ANTLR/.antlr
ANTLR/__pycache__